$text-color: #fff;

$body-background: linear-gradient(to bottom, #1c2536, #08111a);

$nav-text-color: rgba($text-color, 0.6);
$nav-background: linear-gradient(to bottom, #2b3b51, #2c445e);
$nav-border-color: #556f8a;

$stream-text-color: darken($text-color, 20%);
$stream-background: #242424;
$stream-border-color: #2f3640;
$stream-shadow-color: #000;

$stream-link-color: $text-color;
$stream-link-background-color: rgba(0, 0, 0, 0.1);

$no-stream-text-color: rgba($stream-text-color, 0.8);
