.connection-info {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #464646;
    transform: translateY(-100%);
    transition: transform 0.5s;
    z-index: 1;

    .connection-text {
        color: #F0EDEE;
        text-align: center;
        font-style: italic;
        padding: 5px 5px 2px 5px;
    }

    .connection-indicator {
        height: 3px;
        width: 100%;
    }

    &.show {
        transform: translateY(0%);

        .connection-indicator{
            animation: connection-indicator 3s linear 0s infinite;
            @keyframes connection-indicator {
                0% {
                    width: 100%;
                    background-color: #E1CA00;
                }
                8% {
                    background-color: #00AC1E;
                }
                16% {
                    width: 0%;
                    background-color: #E1CA00;
                }
                58% {
                    background-color: #00AC1E;
                }
                100% {
                    width: 100%;
                    background-color: #E1CA00;
                }
            }
        }
    }
}
