@import "colors";

.loading-div {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: inherit;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
